.header{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--first-background-color);
    transition: all 0.5 linear;
}
.header--fixed{
    position: fixed;
    top: 0;
    background-color: var(--second-text-color);
    z-index: 1;
}
.header__logo{
    padding: 0px 50px 0px 50px;
    height: 80%;
}
.header__logo-link{
    height: 100%;
    width: 100%;
}
.header__logo-link img{
    height: 100%;
}

.header__navbar-item{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.header__navbar-item,
.header__navbar-link{
    font-size: 1.8rem;
    color: var(--first-text-color);
}
.header__navbar-item:hover .header__navbar-link{
    font-weight: bold;
}
.header__navbar-button{
    height: 40px;
    width: 170px;
    border: none;
    background-color: var(--main-color);
    border-radius: 20px;
    color: var(--second-text-color);
    margin-right: 50px;
    cursor: pointer;
}
.header__navbar-button:hover{
    background-color: var(--second-text-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
.content__banner{
    height: 640px;
    border-bottom: 3px solid var(--line-color);
}
.content__banner .row{
    height: 100%;
    align-items: center;
}
.content__banner-text{
    padding-left: 20px;
}
.content__banner-text h1{
    font-size: 5.5rem;
    line-height: 7rem;
}
.content__banner-text h4{
    font-size: 3rem;
    line-height: 4rem;
}
.content__banner-text button{
    width: 180px;
    height: 50px;
    font-size: 2rem;
    border: none;
    border-bottom: 2px solid var(--main-color);
    background-color: var(--first-background-color);
    color: var(--main-color);
}
.content__banner-text button:hover{
    background-color: var(--main-color);
    color: var(--second-text-color);
}
.bg-letter{
    background-image: linear-gradient(90deg, #2af598 0%, var(--main-color) 100%);

}
.content__banner-image img{
    width: 100%;
}
.content__features{
    border-bottom: 3px solid var(--line-color);
}
.content__features .grid.wide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__features-title{
    margin-top: 150px;
    margin-bottom: 100px;
    width: 80%;
}
.content__features-title span{
    color: var(--main-color);
    font-weight: bold;
    font-size: 2rem;
}
.content__features-title h1{
    font-size: 4rem;
    line-height: 5rem;
}
.content__features-part{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 40px;
}
.features__image .blur{
    filter: blur(8px);
  -webkit-filter: blur(8px);
}
.features__image img{
    width: 90%;
    margin: 0 auto;
}

.features__text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 50px;
}
.features__text-icon{
    height: 5.5rem;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1e9d7;
    border-radius: 50%;
    color: var(--main-color);
    font-size: 2rem;
}
.features__text-paragraph h3{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 4rem;
}
.features__text-paragraph p{
    font-size: 1.8rem;
    line-height: 3rem;
}
.content__features-part:nth-child(3) .features__image{
    order: 2;
}
.content__features-part:nth-child(3) .features__text{
    order: 1;
}
.content__operations{
    border-bottom: 3px solid var(--line-color);

}
.content__features-part:last-child{
    margin-bottom: 150px;
}
.content__operations .grid.wide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content__operations-title{
    margin-top: 150px;
    margin-bottom: 200px;
    width: 80%;
}
.content__operations-title span{
    color: var(--main-color);
    font-weight: bold;
    font-size: 2rem;
}
.content__operations-title h1{
    font-size: 4rem;
    line-height: 5rem;
}
.content__operations-content{
    width: 95%;
}
.operations__topics{
    height: 50px;
    background-color: var(--second-text-color);
}
.operations__topics-list{
    display: flex;
    justify-content: space-around;
}
.operations__topics-item{
    display: inline-block;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.operations__topics-item.active{
    transform: translateY(-10px);
}
.operations__topics-item:first-child{
    background-color: #ffcb03;
}
.operations__topics-item:nth-child(2){
    background-color: #5ec576;
}
.operations__topics-item:last-child{
    background-color: #ff585f;
}
.operations__paragraph{
    width: 100%;
    background-color: var(--second-text-color);
    margin-bottom: 100px;
}
.operations{
    height: 100%;
    display: none;
    padding: 50px 100px 50px 100px;
    grid-template-columns: 80px auto;
}
.operations.active{
    display: grid;
}
.operations .operations--icon{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    margin-right: 20px;
}
.operations:first-child .operations--icon{
    background-color: #fff5cf;
    color: #ffcb03;
}
.operations:nth-child(2) .operations--icon{
    color: var(--main-color);
    background-color: #d1e9d7;
}
.operations:last-child .operations--icon{
    background-color: #ffe2e3;
    color: #ff585f;
}
.operations--text{
    margin-bottom: 30px;
}
.operations .operations--text h3{
    font-size: 2.5rem;
    line-height: 3rem;
}
.operations .operations--text p{
    font-size: 2rem;
    line-height: 3rem;
}
.content__testimonials .grid.wide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content__testimonials-title{
    margin-top: 150px;
    margin-bottom: 100px;
    width: 80%;
}
.content__testimonials-title span{
    color: var(--main-color);
    font-weight: bold;
    font-size: 2rem;
}
.content__testimonials-comments{
    overflow: hidden;
    margin-bottom: 150px;
    position: relative;
}
.testimonials-comment{
    width: 300%;
    display: flex;
    transition: all 0.5s ease-in-out;
}
.comment{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment__text{
    width: 50%;
}
.comment__text h1{
    font-size: 3rem;
    line-height: 3rem;
}
.comment__text p{
    font-size: 2rem;
    line-height: 3rem;
}
.comment__author{
    margin-top: 20px;
    width: 40%;
}
.author__avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
.author__avatar img{
    width: 100%;
    object-fit: cover;
}
.author__infor{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.author__infor .name{
    font-weight: bold;
    font-size: 2rem;
}
.author__infor .place{
    font-size: 1.5rem;
}
.arrow-button{
    width: 6rem;
    height: 6rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
}
.arrow-button.left{
    left: 20px;
    top: calc(50% - 2.5rem);
}
.arrow-button.right{
    right: 20px;
    top: calc(50% - 2.5rem);
}
.content__testimonials-title h1{
    font-size: 4rem;
    line-height: 5rem;
}
.footer{
    background-color: var(--second-background-color);
}
.footer__account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
}
.footer__account h1{
    text-align: center;
    margin-top: 100px;
    font-size: 4rem;
    width: 50%;
    line-height: 5rem;
    color: var(--second-text-color);
}
.footer__account button{
    margin-top: 50px;
    width: 30%;
    height: 60px;
    font-size: 2rem;
    border: none;
    border-radius: 30px;
    background-color: var(--main-color);
    color: var(--first-text-color);
    margin-bottom: 100px;
    font-weight: bold;
}
.footer__account button:hover{
    background-color: var(--second-text-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
.footer__navigation--list{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.footer__navigation--item{
    display: inline-block;
    margin: 0 20px;
}
.footer__navigation--item,
.footer__navigation--link{
    color: var(--second-text-color);
    line-height: 3rem;
    font-size: 1.8rem;
}
.footer__icon{
    margin-top:50px;
    text-align: center;
}
.footer__icon img{
    width: 50px;
    height: 50px;
    margin-bottom: 100px;
}


.modal-cover{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black ;
    opacity: 0.9;
    z-index: 2;
}
.modal{   
    width: 600px;
    padding: 30px 50px 30px 50px;
    background-color: var(--first-background-color);
    z-index: 1;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    z-index: 2;
}
.close-modal{
    display: none;
}
.modal__title{
    font-size:  2.7rem;
    line-height: 5rem;
    text-align: center;
}
.form__group{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.form__group label{
    font-weight: bold;
    font-size: 2rem;
}
.form__group input{
    height: 80%;
    width: 70%;
    outline: none;
    font-size: 2rem;
    padding-left: 5px;
}
.modal button{
    width: 200px;
    height: 50px;
    background-color: var(--main-color);
    border: none;
    font-size: 2rem;
    border-radius: 25px;
    margin-top: 30px;
}
.close__button{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.navigation__second{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: calc(50% - 150px);
    z-index: 1;
}
.navigation__second-list{
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.navigation__second-item{
    display: inline-block;
    width: 70px;
}

.navigation__second-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigation__second-item,
.navigation__second-link{
    height: 60px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--first-text-color)
}
.navigation__second-link span{
    font-size: 1.2rem;
    margin-top: 5px;
}
.navigation__second-item:last-child{
    background-color: var(--main-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
